:root {
  --main-blue: rgb(0, 0, 145);
  --info-text: rgb(105, 112, 116);
}

body {
  font-family: roboto-medium, sans-serif;
  font-size: 1rem;
  margin: 0;
  background-color: white;
}

/*** Themes ***/
.headline-gradients {
  background-image: linear-gradient(to right, darkblue, darkviolet);
}

.button-theme {
  font-size: 16px;
  padding: 14px;
  border: 2px;
  margin-top: 14px;
  margin-right: 24px;
  margin-bottom: 24px;
  background-color: darkblue;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.button-theme:hover {
  background-color: #140950;
}

.button-theme-white {
  font-size: 16px;
  padding: 14px;
  border: 2px solid darkblue;
  margin-top: 14px;
  margin-right: 24px;
  margin-bottom: 24px;
  background-color: white;
  color: darkblue;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.button-theme-white:hover {
  background-color: rgba(128, 128, 180, 0.3);
}

.headline-theme {
  font-size: 40px;
  color: white;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.headline-theme .headline-gradients {
  padding: 12px;
  margin-left: 50px;
}

/*** layout classes ***/
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.container-1 {
  max-width: 1600px;
  margin: 0 auto;
}

.container-sections {
  width: 100%;
  border-top: 1px solid #ccc;
  padding-top: 50px;
}

/*** Navbar ***/
.logo img {
  width: 160px;
  height: auto;
}

.logo {
  display: flex;
  align-items: flex-end;
  color: darkblue;
  flex-grow: 1;
  padding-bottom: 30px;
}

#topnav {
  height: 150px;
  border-bottom: 1px solid #ccc;
}

#topnav .container-1 {
  display: flex;
  height: 100%;
  background-color: white;
}

#topnav .container {
  width: 100%;
  height: 100%;
  display: flex;
}

/*** navbar left ***/
#topnav .navbar-1 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
  flex-basis: 60%;
  padding-left: 30px;
}

#topnav .navbar-1 a,
.dropdown-nav .dropa {
  position: relative;
  font-size: 20px;
  color: var(--main-blue);
  text-decoration: none;
  padding-bottom: 30px;
}

#topnav .navbar-1 a::after,
#topnav .navbar-2 a::after,
#dropdownButton:after {
  position: absolute;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--main-blue);
  transform: scaleX(0);
  transition: transform 0.3s;
}

#topnav .navbar-1 a:hover::after,
#topnav .navbar-2 a:hover::after,
#dropdownButton:hover::after {
  transform: scaleX(1);
}

/*** navbar right ***/
#topnav .navbar-2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#topnav .navbar-2 a {
  color: rgb(0, 0, 145);
  text-decoration: none;
  font-size: 16px;
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
}

#button-meldungen {
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 16px;
  box-sizing: border-box;
  background-color: #6e156e;
  border-radius: 4px;
  border: 0;
  position: relative;
}

#button-meldungen:hover {
  background-color: #420c42;
}

#button-meldungen:hover::after {
  transform: scaleX(1);
}

#button-meldungen::after {
  position: absolute;
  display: block;
  width: 94%;
  height: 2px;
  bottom: 2px;
  left: 3px;
  transform: scaleX(0);
  background-color: #ffffff;
  transition: 0.3s;
  content: "";
}

/*** dropdown International***/
#dropdownButton {
  padding-top: 30px;
  padding-bottom: 30px;
}

.dropdown-international {
  flex-grow: 1;
}

.dropdown {
  position: relative;
  font-size: 16px;
  color: #00008b;
  border: none;
  padding: 0;
  background-color: transparent;
}

.dropdown-content {
  position: absolute;
  width: 256px;
  box-shadow: 0 8px 16px 0 #cccccc;
  z-index: 1;
  background-color: #fff;
  display: none;
}

.dropdown-content a {
  color: #00008b;
  padding: 16px;
  border-bottom: 1px;
  border-color: black;
  text-decoration: none;
  display: block;
}
/*Dropdown Navbar*/
.dropa {
  color: var(--main-blue);
  cursor: pointer;
  text-decoration: none;

  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
  flex-basis: 60%;
}

.dropdown-nav {
  position: relative;
  display: inline-block;
}

.drodown-content-nav {
  display: none;
  position: relative;
  background-color: darkgoldenrod;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content-nav a {
  color: var(--main-blue);
  text-decoration: none;
  display: block;
  font-size: 3px;
}

.show {
  display: block;
}
/*** header ***/
header .container-1 {
  position: relative;
}

header .headline {
  position: absolute;
  height: 100%;
  font-family: stone-medium-italic, sans-serif;
  font-style: italic;
  font-size: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  color: white;
  margin: 0;
}

header .headline span {
  padding: 20px;
}

header .header-image {
  display: flex;
  justify-content: flex-end;
}

header .header-image img {
  display: block;
  width: 100%;
  max-width: 1373px;
}

/*** info slider ***/
#info-slider {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-top: 70px;
  position: relative;
}

.info-slider-box {
  display: flex;
  height: 222px;
  width: 1616px;
  flex-wrap: wrap;
  flex-direction: row;
  border-right: 1px solid #ccc;
}

.info-slider-card {
  background-color: white;
  display: flex;
  height: 100%;
  flex-grow: 1;
  margin-left: 35px;
  margin-right: 35px;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

.info-slider-headline {
  font-size: 16px;
  color: rgb(105, 112, 116);
}

.info-slider-text {
  font-size: 20px;
  color: rgb(0, 0, 87);
  text-decoration: none;
}

.info-slider-text:hover {
  text-decoration: underline;
}

/*** fraport-infos ***/
.fraport-info-container {
  display: flex;
  position: relative;
  justify-content: left;
  height: 468px;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 220px;
}

.fraport-info-text {
  width: 520px;
}

.info-image-container {
  position: absolute;
  overflow: hidden;
  height: 368px;
  width: 654px;
  bottom: 0;
  right: 0;
  background-color: blueviolet;
}

.info-image {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  text-decoration: underline;
  transition: transform 0.5s;
}

.info-image:hover {
  transform: scale(1.2);
}

.info-heading {
  font-size: 40px;
  color: rgb(105, 112, 116);
}

.info-sub-heading {
  font-size: 28px;
  color: rgb(105, 112, 116);
}

.info-sub-sub-heading {
  font-size: 20px;
  color: rgb(105, 112, 116);
}

.info-text {
  font-size: 16px;
  color: rgb(105, 112, 116);
}

/*** Kontakt ***/
.contact-section {
  width: 100%;
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 150px;
}

.contact-section-heading {
  background-image: linear-gradient(to right, darkblue, darkviolet);
  padding: 40px;
  font-size: 20px;
  color: #ffffff;
}

.contact-section-text {
  font-size: 20px;
  color: rgb(105, 112, 116);
}

/***Fraport-AG***/
.fraport-ag-heading {
  color: rgb(100, 21, 110);
  font-size: 56px;
}

.fraport-ag-text {
  font-size: 16px;
  color: rgb(110, 21, 110);
}

/***Fraport-AG-Unternehmen***/
.sections-fraport-AG {
  height: 250px;
}

.aktie-section {
  background-color: rgba(219, 211, 219, 0.3);
  height: 240px;
  font-size: 16px;
  color: rgb(110, 21, 110);
  padding-top: 10px;
  padding-left: 800px;
}

/***Klimaschutz***/
.klimaschutz-container {
  height: 380px;
}

.fraport-ag-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fraport-ag-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  position: relative;
}

/***Klima-Ziele***/
.klimaziele-section {
  background-color: rgba(219, 211, 219, 0.3);
  height: 550px;
  align-items: center;
}

.klimaziele-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 75px;
}

.header-theme {
  font-size: 28px;
  color: rgb(105, 112, 116);
}

/***Karriere***/
.karriere-section {
  height: 200px;
}

.karriere-heading {
  padding-top: 80px;
}

/***Weld der möglichkeiten***/
.jobangebote-section {
  height: 250px;
}

.jobangebote-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/***Footer***/
footer {
  background-image: linear-gradient(to right, darkblue, darkviolet);
  height: auto;
  color: rgb(255, 255, 255);
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-links {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.footer-links:hover {
  text-decoration: underline;
}

footer .container-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-container-1 {
  margin-top: 25px;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 24px;
  padding-right: 8px;
}

/* Dropdown */
.footer-dropdown {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
}

#mydropdown-contact {
  display: none;
}
#mydropdown-contact.active {
  display: flex;
}

.dropdown-container {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.dropdown-box {
  background-color: lightcoral;
  width: 380px;
  height: 184px;
}

/* Container 1-2*/
.footer-container-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-container-3 {
  font-size: 12px;
}

.footer-list-heading {
  font-size: 24px;
  margin: 0;
}

.footer-list-points {
  list-style-type: none;
  padding: 0;
}

.footer-list-text {
  font-size: 16px;
  padding-top: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-list-text-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40px;
  padding-top: 10px;
  gap: 20px;
}

.footer-links-icons {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.footer-links-icons:hover {
  border-bottom: 1px solid white;
}
